<h1>Dash Boards</h1>
<p>Hello,sample!</p>

<div class="actions">
  <%= link_to '編集', edit_user_registration_path, class: 'btn btn-primary' %>
  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, data: { confirm: '本当にログアウトしますか？' } %>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>


  
</div>
