<h1 class="mb-4 text-center">Dash Boards</h1>
<p class="mb-4 text-center" style="font-size: 40px;">sample</p>

<div class="actions d-flex flex-column justify-content-center align-items-center">
  <%= link_to '記事一覧', users_articles_path, class: 'btn btn-primary mb-2 w-50' %>
  <%= link_to '編集', edit_user_registration_path, class: 'btn btn-primary mb-2 w-50' %>
  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, data: { confirm: '本当にログアウトしますか？' }, class: 'btn btn-warning mb-2 w-50' %>
</div>
